@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel

<h1 class="m-2">Book Store</h1>
<div class="container p-3 ">
    @foreach (Books x in Model.Books)
    {
        <h3>@x.Title</h3>

        <ul>
            <li>Author: @x.Author</li>

            <li>Catagory: @x.Category</li>
        </ul>
    }

</div>


<div class="btn" page-blah="@Model.PageInfo" page-action="Index"></div>
