@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel


<div class="container p-3 ">
    @foreach (Books x in Model.Books)
    {
        <partial name="BookSummary" model="x" />
    }

</div>


<div class="btn-group pull-right m-1" page-class="btn" page-blah="@Model.PageInfo" page-action="Index" page-class-normal="btn-outline-dark" page-class-enabled="true" page-class-selected="btn-primary"></div>
